<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/javascripts/isomorphic/lib.js"></script>
<script src="/external/beerjs/beer.min.js"></script>
<script src="/javascripts/services/socket.js"></script>
<script src="/javascripts/services/service-workers.js"></script>
<script src="/javascripts/services/indexed-db.js"></script>
<script src="/javascripts/modules/add-message.js"></script>
<script src="/javascripts/modules/read-message.js"></script>
<script src="/javascripts/modules/add-user.js"></script>
<script src="/javascripts/modules/read-user.js"></script>

<!-- <script src="/js/main.min.js"></script> -->
<script>

var options = {
  storage:[{
      name:'nameOfStorage',
      type:'localStorage'
  }]
};

BEER.CORE.start(options).run();

</script>
