<div class="wrapper">
    <div class="container" data-module="addMessage">
        <form>
            <div class="row">
                <div class="column-3">
                    <input type="submit" value="Add message" class="column-12 js-add-message" />
                </div>
                <div class="column-9">
                    <input class="column-12 js-message-input" type="text" placeholder="Message"/>
                </div>
            </div>
        </form>
    </div>
    <div class="container" data-module="readMessage">
        <div class="row">
            <div class="column-12">
                <ul class="column-12 js-read-message"></ul>
            </div>
        </div>
    </div>
    <div class="container" data-module="addUser">
        <form>
            <div class="row">
                <div class="column-3">
                    <input type="submit" value="Add user" class="column-12 js-add-user" />
                </div>
                <div class="column-9">
                    <input class="column-12 js-user-input" type="text" placeholder="Name"/>
                </div>
            </div>
        </form>
    </div>
    <div class="container" data-module="readUser">
        <div class="row">
            <div class="column-12">
                <ul class="column-12 js-read-user"></ul>
            </div>
        </div>
    </div>
</div>
