.wrapper {
    margin: 0 auto;
    max-width: $large;
    @media (max-width: $medium) {
        width: 100%;
    }
}
.container {
    margin: 5px 0;
    background: #DDD;
    padding: 10px;
    width: 100%;
    @media (max-width: $medium) {
        padding:5px;
    }
}
