$grid-spacing:0;
$grid-columns:12;

.row [class*='column'] {
    float   : left;
    padding : 6px;
    box-sizing : border-bwox;
}

.row:before, .row:after {
    content:'';
    display:table;
    clear:both;
}

@for $i from 1 through $grid-columns {
    .column-#{$i} {
        width: calculate-grid($i);
    }
}

@media (max-width: $medium) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7, {
        width: 50%;
    }
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: 100%;
    }
}

@media (max-width: $small) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: 100%;
    }
}
